@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #dd2d4a;
  --hover: #a51b32;
  --secondary: #f8fafc;
  --tertiary: #64748b;
  --neutral: #0f172a;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-hover: var(--hover);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-neutral: var(--neutral);
  --font-montserrat: var(--font-montserrat);
}

body {
  font-family: var(--font-montserrat), sans-serif;
}
